.navbar-custom
  background-color #222
  .container
    background-color #222
  .navbar-brand
    font-size: 26px;
    color: #D8D6D6;
    height 70px
    p
      margin 0
      &.navbar-text
        margin: 0;
        font-style: normal;
        font-size: 14px;
        margin-top: 2px;
  .breadcrumb
    background-color transparent
    padding 25px 0
    margin 0
    li
      color #fff
      a
        color #fff

  .navbar-nav
    li
      a
        padding-top:25px
        padding-bottom:25px
        color: #aaa
      a:hover
        color #fff
        background-color transparent
    .open
      & > a
        color #fff
        background-color transparent
    .dropdown-menu
      background-color #333
      li
        a
          padding 3px 20px
          &:hover
            background transparent

body
  background-color #222
  padding-top:70px

//.container
//  background-color #fff

footer
  background-color #1A1A1A
  .container
    background-color #1A1A1A

a
  color: #aaa
  &:hover
    color: #aaa
    text-decoration underline